{% extends 'Layout/admin.html.twig' %}

{% block title %}List | Admin Décompteur{% endblock %}

{% block content %}
    <h1>Add an image</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit">
    {{ form_end(form) }}
{% endblock %}